/* 
Ik maak gebruik van Prettier, dus als iets lelijks wordt afgesloten dan zie ik het niet.
*/

/* Kleuren variables worden gedeclareerd */
:root {
  --primary: #1d26be;
  --secondary: #8389eb;
  --accent: #291911;
  --bg: #eee;
  --txt: #111;
}

/* 
Fonts worden geimporteerd via Google Fonts. Gekozen door Noey Oo
https://fonts.google.com/selection/embed
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 

Body wordt gestyled.

Margin, layout, en fonts owrden hier gedeclareerd.

*/
body {
  margin: 1em auto;
  color: var(--accent);
  background: var(--bg);
  section {
    margin: 5% 0;
  }

  hr {
    border-color: var(--secondary);
  }

  header,
  main,
  footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;

    span {
      font-size: 0.75rem;
      vertical-align: sub;
    }
  }

  main > section > a {
    padding: 1em;
    color: var(bg);
    background: var(--secondary);
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--primary);
    font-weight: 700;
  }

  h1,
  h2 {
    text-align: center;
  }

  /*
   Media Queries breakpoints voor verschillende schermen & Animaties.
  */

  @media (min-width: 25em) {
    max-width: 90%;
  }
  @media (min-width: 60em) {
    max-width: 60em;
  }
}

/* 
Wijzigingen voor de header. 
*/

header {
  display: flex;
  padding: 0.1em 0.5em;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  color: var(--primary);
  font-weight: 700;

  /*
  Zorgt ervoor dat de header blijft plakken bovenaan als iemand naar benden probeert te scrollen, zowel op een klein als een grote scherm.
  */

  position: sticky;
  top: 0.5em;
  nav {
    display: flex;
    gap: 1em;
  }
  @media (min-width: 20em) {
    top: 0em;
    border: none;
  }
}

/* 
Ik heb het gevoel dat ik dit beter had kunnen stylen met een class, maar het werkt, en
niks onnodig wordt gemaakt.

*/
header > nav > a,
main > section > ul > a {
  text-align: center;
  background: var(--bg);
  color: var(--primary);
  font-weight: 700;
  padding: 0.5em 0.5em;
  text-decoration: none;
  border-radius: 0.5em;
  background: var(--secondary);
  transition: background 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:visited {
    color: inherit;
  }
  &:hover {
    transition: background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: var(--bg);
    background: var(--primary);
  }
}

.campus-buttons {
  display: flex;
  justify-content: center;
  gap: 0em 1em;
}

footer {
  text-align: center;
}

.carousel-student {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --student-card;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--primary) var(--bg);
  text-align: center;
  scrollbar-width: thin;
}

.student-card {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 1em;
  transition: scale 0.2s ease-in-out;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: var(--primary);
    h3 {
      color: var(--bg);
    }
  }
  img {
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border: var(--primary) solid 0.25em;
    max-width: 15em;
    /*
   Media Queries breakpoints voor verschillende schermen.
   */

    transition: scale 0.2s ease-in-out;
    &:hover {
      scale: 1.05;
      transition: all 0.2s ease-in-out;
    }
  }
  a {
    text-decoration: none;
  }
}

.campus-category {
  h2 {
    font-weight: 700;
    background: var(--primary);
    color: var(--bg);
    padding: 0.5em 1em;
    width: min-content;
  }
}

.carousel-campus {
  display: flex;
  gap: 10em;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --campus-card;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: var(--primary) var(--bg);
  scrollbar-width: thin;
}

.campus-card {
  display: grid;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 1em;
  min-width: fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.2s ease-in-out;

  /*
   Media Queries breakpoints voor verschillende schermen.
  */
  @media (min-width: 80em) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2em;
    grid-auto-flow: dense;
    img {
      grid-column-start: 1;
      grid-row-start: span 2;
    }
    h3 {
      grid-column-start: 2;
      font-size: 1.5em;
    }
    p {
      grid-column-start: 2;
      grid-row-start: 2;
      font-size: 1.25em;
    }
  }

  img {
    &:hover {
      scale: 1.025;
      transition: scale 0.2s ease-in-out;
    }
    aspect-ratio: 4 / 3;
    object-fit: cover;
    width: 50%;

    @media (min-width: 80em) {
      width: 100%;
    }
  }
}

.campus-category {
  display: none;
  &:target {
    display: block;
  }
}
