/* Noey & Emmanuel,

In dit bestand gaan we gebruik maken van .class selectors.

Zo kunnen wij een css-carousel maken. */

/* Hier wordt er witruitme gegeven boven de sections. */

section[id="campus"] > h3 {
  margin-top: 5em;
}

/* Hier wordt de witruimte bepaald tussen de sections, maar ook de grootte en scaling van de afbeelding wordt hier bepaald. */

.amstel {
  h2 {
    margin-top: 5em;
  }
  img {
    /* Wat een tering gezeik met deze foto. */
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 0.5em;
    width: 50dvw;
  }
}

/* Hier worden de knoppen van de campus gestyled, met een transition en dat het ook centraal staat van de body. Kleur, achtergrond , rondingen , en animaties worden hier bepaald. Omdat het alleen voor interactie wordt gebruikt op kleinere elementen, (en ook niet te snel) dan hoeven wij dit niet te vermelden onder reduced motion.  */
.button-campus {
  display: flex;
  justify-content: center;
  gap: 0em 1em;
  padding-left: 0;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
  a {
    background: var(--primary);
    color: var(--bg);
    font-weight: 700;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border: 0.2em solid var(--primary);
    border-radius: 0.5em;
    &:visited {
      color: var(--bg);
    }
    &:hover {
      color: var(--color);
      background: var(--bg);
      transition:
        background 0.25s ease-in-out,
        color 0.25s ease-in-out;
    }
  }
}

/* 

Dit gedeelte zorgt voor de 'tabjes navigatie' systeem die we hebben met alleen CSS. Hier wordt :target slim gebruikt om ervoor te zorgen dat er een 'pageless' gevoel is, terwijl het eigenlijk naar de volgende section springt.

*/
.category-campus {
  display: none;
  /* 
  scroll-margin-top zorgt ervoor dat het mninder 'springt' terwijl je aan het navigeren ben in het menu, zonder dat we JS hoeven toe te voegen dat scrollY aanpast.
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/scroll-margin-top
  https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollY
  */
  scroll-margin-top: 30svh;

  h3 {
    text-align: left;
  }
  &:target {
    display: block;
    height: fit-content;
  }
}

/* Hier worden de stylingen van de campus kaarten bepaald die aan het hoofdelement zit, of echter de 'parent'.  Hier wordt de verticale scrollbaar verwijderd, en zorgt ook voor dat als je scrollt naar een element, dath ij stopt bij een van ze. Met een gap van 10em zie je alleen 1 kaart tegelijk.*/
.carousel-campus {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --card-campus;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 10em;
}

/* Hier worden de campus kaartjes zelf gestyled. Dat zowel min als max fit-content heeft, blijft het responsive (geloof ik?) maar neemt het ook de volledige ruimt in van de hoodfparent. */

.card-campus {
  display: grid;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 1em;
  min-width: fit-content;
  max-width: fit-content;
  text-align: left;
  justify-items: center;
  img {
    border-radius: 0.5em;
    aspect-ratio: 4/3;
    object-fit: cover;
    max-height: 30dvh;
    width: auto;
  }
}
