/* 
Noey & Emmanuel,

In dit bestand gaan we gebruik maken van .class selectors.

Zo kunnen wij een css-carousel maken.

Uitleg: 
https://developer.chrome.com/blog/carousels-with-css#carousel_gallery

*/

section[id="campus"] > h3 {
  margin-top: 5em;
}

.amstel {
  img {
    width: 50svw;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 0.5em;
  }
}

/* Carousel ID selector knoppen */
.button-campus {
  display: flex;
  justify-content: center;
  gap: 0em 1em;
  padding-left: 0;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
  a {
    background: var(--primary);
    color: var(--bg);
    font-weight: 700;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border: 0.2em solid var(--primary);
    border-radius: 0.5em;
    &:visited {
      color: var(--bg);
    }
    &:hover {
      color: var(--color);
      background: var(--bg);
      transition:
        background 0.25s ease-in-out,
        color 0.25s ease-in-out;
    }
  }
}

/* Carousel Category */
.category-campus {
  display: none;
  /* 
  scroll-margin-top zorgt ervoor dat het mninder 'springt' terwijl je aan het navigeren ben in het menu, zonder dat we JS hoeven toe te voegen dat scrollY aanpast.
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/scroll-margin-top
  https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollY
  */
  scroll-margin-top: 30svh;

  h3 {
    text-align: left;
  }
  &:target {
    display: block;
    height: fit-content;
  }
}

/* Campus Carousel Parent */
.carousel-campus {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --card-campus;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 10em;
}

/* Campus Kaartjes */

.card-campus {
  display: grid;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 1em;
  min-width: fit-content;
  max-width: fit-content;
  text-align: left;
  justify-items: center;
  img {
    border-radius: 0.5em;
    aspect-ratio: 4/3;
    object-fit: cover;
    max-height: 30dvh;
    width: auto;
  }
}
