/* Heel klein, maar hier wordt een border toegevoegd om een <hr> element te vervangen (omdat het niet gebruikelijk is om het op dat manier te gebruiken voor semantische redenen). De letter type wordt ook veranderd zodat de orginele linkjes heel klein zijn.*/

footer {
  border-top: 1px solid var(--primary);
  ul {
    padding: 0;
  }
  a {
    font-size: 0.5em;
  }
}
