/* 
Noey & Emmanuel,

In dit bestand gaan we gebruik maken van .class selectors.

Zo kunnen wij een css-carousel maken.

Uitleg: 
https://developer.chrome.com/blog/carousels-with-css#carousel_gallery

*/

header {
  /* Layout */
  display: flex;
  padding: 0.1em 0.5em;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
  border-bottom: 0.2em solid var(--primary);

  nav {
    display: inherit;
    gap: 1em;
  }
}
