/* 
Noey & Emmanuel,

Het kan mogelijk zijn dat we een hero gedeelte gaan maken tijdens het ontwerpen van onze nieuwe visuele hierachie, dus ik hebe het bestandje al aangemaakt. :)

*/

@keyframes hero-text {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

@keyframes hero-fill {
  from {
    background: var(--bg);
    color: var(--primary);
  }
  to {
    background: var(--primary);
    color: var(--bg);
  }
}

.hero {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* grootte */
  margin-top: 1em;
  margin-bottom: 5em;
  height: max(40em, calc(100vh - 6em - 10em));
  padding: auto;
  box-sizing: border-box;

  /* kleur */
  background: var(--bg);
  color: var(--primary);

  /* vorm */
  border-radius: 1em;
  border: 0.25em solid var(--primary);

  /* tekst */
  h1 {
    font-size: 5em;
  }
}
