/* 
Noey & Emmanuel,

Het kan mogelijk zijn dat we een hero gedeelte gaan maken tijdens het ontwerpen van onze nieuwe visuele hierachie, dus ik hebe het bestandje al aangemaakt. :)

*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary);
  color: var(--bg);
  height: max(40em, calc(100vh - 6em - 10em));
  box-sizing: border-box;
  h1 {
    font-size: 5em;
    color: var(--bg);
  }
}
