/* BRONNEN
Hoe maak je CSS-only carousels? Tip van Sanne!
- https://chrome.dev/carousel-configurator/
- https://developer.chrome.com/blog/carousels-with-css#carousel_gallery

*/

/* noey's KLEUREN PALET van maandag */
:root {
  --primary: #1d26be;
  --secondary: #8389eb;
  --accent: #291911;
  --bg: #eee;
  --txt: #111;
}

/* 
FONT van noey, geimporteerd via GOOGLE FONTS's embed code
https://fonts.google.com/selection/embed
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* display ports!! or viewports!! or media queries!!!! */

@media screen and (min-width: 600px) {
  .student-card img {
    width: 20em;
}
}

.student-card img {
    width: 20em;
}

/* SOON! After thursday*/

/* stylings */
body {
  margin: 1em auto;
  max-width: 80%;
  color: var(--txt);
  background: var(--bg);
}

header {
  display: flex;
  padding: 0.25em 1em;
  align-items: center;
  justify-content: space-between;
  border: var(--primary) solid 0.25em;
}

section {
  margin-bottom: 10%;
}

nav {
  display: flex;
  gap: 4em;
}

h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  color: var(--primary);
}

h1 {
  text-align: center;
}

/* carousels */

.carousel-student {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --student-card;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--primary) var(--bg);
  text-align: center;
  border: var(--primary) solid 0.25em;
}

.student-card {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 2em;
  scale: 1;
  transition: all 0.1s ease-in-out;
  &:hover {
    scale: 1.05;
    transition: all 0.1s ease-in-out;
  }
  img {
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
  a {
    text-decoration: none;
  }
}

.carousel-campus {
  display: flex;
  gap: 10em;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --campus-card;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: var(--primary) var(--bg);
}

.campus-card {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 1em;
  min-width: fit-content;
}
