:root {
  /* noey's kleuren palet */
  --primary: #1d26be;
  --secondary: #8389eb;
  --accent: #291911;
  --bg: #fff;
  --txt: #000;
  /* mijn kleurenpalet */
}

body {
  margin: 5% auto;
  max-width: 70%;
}
