/* 
Noey & Emmanuel,

In dit bestand gaan we gebruik maken van MEDIA QUERIES.
Zo krijgen we een responsive layout voor onze squad page.

*/

/* Ingeval dat een @media query niet goed werkt, wordt het hier opnieuw geimporteerd met een uncomment. */
/* @import url(../styles/campus.css);
@import url(../styles/footer.css);
@import url(../styles/header.css);
@import url(../styles/hero.css);
@import url(../styles/main.css);
@import url(../styles/student.css); */

/*

Hier wordt de body gestyled voor grotere schermen, zodat het niet eindeloze blijft uitzoomen, zoals het geval met ultrawide beeldschermen. Dit doen we met media queries vanaf een minimale waarde.

*/

body {
  @media (min-width: 60em) {
    width: 50svw;
  }
  @media (min-width: 80em) {
    width: 80em;
  }
}
/* 

  We willen geen animaties op onze hero als de gebruiker reduced-motion aan heeft. Terwijl accessibility niet de focus is deze sprint, is het verstandig om de gewoonte nu al toe te passen.

*/

.hero {
  h1 {
    @media (prefers-reduced-motion: no-preference) {
      animation: hero-text 5s ease-in-out infinite;
    }
  }
}

/*

Hier wordt de amstelcampus plaatje gestyled, dat steeds eigenwijs was geworden vanwege onze viewport unit. Er is waarschijnlijk een nettere manier, maar als de scherm een minimale breedte heeft van 50 em (ongeveer 800px) dan blijft het klein. 

*/

.amstel {
  @media (min-width: 50em) {
    img {
      max-width: 50em;
    }
  }
}

/* .amstel {
  @media (min-width: 60em) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "titel img"
      "tekst img";
    column-gap: 2em;
    justify-items: stretch;

    a,
    img {
      grid-area: img;
      max-width: 30dvw;
      align-self: stretch;
    }
    h2 {
      grid-area: titel;
      align-self: end;
    }
    p {
      grid-area: tekst;
    }
  }
} */

/*

Hier worden de kaartjes van de campus gestyled dat het in een grid layout wordt ge representeerd, wat fijner is op grotere schermen. 

*/

.card-campus {
  @media (min-width: 60em) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "img titel"
      "img tekst";
    column-gap: 2em;
    justify-items: stretch;

    a,
    img {
      grid-area: img;
      max-width: 30dvw;
      align-self: stretch;
    }
    h3 {
      grid-area: titel;
      font-size: 1.5em;
      align-self: end;
    }
    p {
      grid-area: tekst;
    }
  }
}
