/* 
Noey & Emmanuel,

In dit bestand gaan we gebruik maken van .class selectors.

Zo kunnen wij een css-carousel maken.

Uitleg: 
https://developer.chrome.com/blog/carousels-with-css#carousel_gallery

*/
.carousel-student {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --card-student;
  scroll-snap-type: x proximity;
  scroll-behavior: auto;
}
.card-student {
  scroll-snap-align: center;
  /* img wijzigingen */
  img {
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: 0.25em var(--primary) solid;
    max-height: 30svh;
    filter: grayscale(500%);
    /* hover wijzigingen */
    &:hover {
      filter: grayscale(0%);
    }
  }
}

.docent {
  h3 {
    color: var(--secondary);
  }

  img {
    border: 0.25em var(--secondary) solid;
  }
}
