.carousel-student {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  anchor-name: --card-student;
  scroll-snap-type: x proximity;
  scroll-behavior: auto;
  padding: 5em 0em;
}
.card-student {
  scroll-snap-align: center;

  /* img wijzigingen */
  a {
    text-decoration: none;
  }
  h3 {
    font-size: 1.5em;
  }
  img {
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 5% 0% 0% 0%;
    max-height: 30svh;
    filter: grayscale(50%);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    /* hover wijzigingen */
    &:hover {
      filter: grayscale(0%);
      box-shadow: 0.25em 0.25em 0em 0em;
      transform: translateY(-1em);
      transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
    }
  }
}

.docent {
  h3 {
    color: var(--secondary);
  }

  img {
    /* border: 0.25em var(--secondary) solid; */
    filter: grayscale(50%);
  }
}
